﻿@model IEnumerable<BelTicket.Models.Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<section id="content">
    <div id="mid2">
        @if (ViewBag.MissTex == "false")
        {
            <h1>@Localizer["Заказ"]<span>@Localizer["Оповещение"]</span></h1>
            <div class="meta">Bel<span>-</span> Tiket</div>
             <div class="body">@Localizer["Оформлен"]</div>
            <a href="#" onclick="history.back();return false;"><button class="submit2">@Localizer["Назад"]</button></a>
        }
        @if (ViewBag.MissTex == "true")
        {
            <h1>@Localizer["НеЗаказ"]<span>@Localizer["НеОповещение"]</span></h1>
            <div class="meta">Bel<span>-</span> Tiket</div>
            <div class="body">@Localizer["НеОформлен"]</div>
            <a href="#" onclick="history.back();return false;"><button class="submit2">@Localizer["Назад"]</button></a>
        }
    </div>
</section>
