﻿@model BelTicket.Models.Register.EventViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post" asp-controller="Home" asp-action="EventAdd" asp-route-returnUrl="Home/NewCity" enctype="multipart/form-data">
    <div id="line17" style="margin-top:28.3%;margin-left:38.5%">@Localizer["Новые"] </div>
    <div id="line18" style="margin-top:29%">@Localizer["Имя"] </div>
    <div id="line18" style="margin-top:32%">@Localizer["Дата"] </div>
    <div id="line18" style="margin-top:35%">@Localizer["Место"] </div>
    <div id="line18" style="margin-top:35%;margin-left:43%;">@Localizer["Город"] </div>
    <div id="line18" style="margin-left:67.3%;margin-top:27%">@Localizer["Описание"] </div>
    <div id="line000" style="border-color:#ff6a00;width:790px;margin-left:320px;margin-top:29%"></div>


    <input type="file" asp-for="Photo" style="margin-top:-38.09%;margin-left:48.5%;height:20px;width:200px;position:absolute;background-color:#ff6a00;" />
    <input asp-for="Name" id="text19" value="" style="margin-top:31.2%;margin-left:35.5%;" />
    <input asp-for="Date" id="text20" value="" style="margin-top:34.2%;margin-left:35.5%;" />
    <input asp-for="Venue" id="text30" value="" style="margin-top:37.3%;margin-left:35.5%;width:65px;" />
    <input asp-for="VenueCity" id="text31" value="" style="margin-top:37.3%;margin-left:48%;width:55px;" />
    <input asp-for="VenueAddress" id="text32" value="" style="margin-top:37.3%;margin-left:54.5%;width:115px;" />
    <textarea asp-for="Description" id="text23" value="" style="margin-top:32%;margin-left:67%;width:340px;height:70px;" /></textarea>
    <button id="line2" type="submit" style="margin-left:30%;margin-top:6%;height:25px;width:90px;">@Localizer["Добавить"]</button>
    </form>