﻿@model IEnumerable<BelTicket.Models.Events>
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService   
<script>
    $(document).ready(function () {
        $(".go").click(function (e) {
            var action = $(e.target).attr("data-action");;
            $.ajax({
                url: action == "all" ? "/api/Event" : ('/api/Event/' + this.id + ''),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    for (var i = 1; i <= data.length; i++) {
                        var z = "/Home/Tic/" + data[i - 1].id;
                        document.getElementsByClassName(i)[0].firstElementChild.firstElementChild.href = z;
                       z = "/images/" + data[i - 1].image;
                       document.getElementsByClassName(i)[0].firstElementChild.firstElementChild.firstElementChild.firstElementChild.src = z;
                       var elem = document.getElementsByClassName(i)[0].firstElementChild.firstElementChild.getElementsByTagName('*')
                       elem[2].textContent = data[i - 1].name;
                       elem[3].textContent = '@Localizer["Дата"]' + ": " + data[i - 1].date;
                       elem[4].textContent = '@Localizer["Город"]' + ": " + data[i - 1].venue.city.name;
                       elem[5].textContent = '@Localizer["Место"]' + ": " + data[i - 1].venue.name;
                       var elem2 = document.getElementsByClassName(i)[0].firstElementChild.getElementsByTagName('*')
                       elem2[7].textContent = '@Localizer["Описание"]' + ": " + data[i - 1].description;
                        //и сюда описание
                    }
                }
            });
            e.preventDefault();
        });
    });
</script>        
 <section id="content">
    @{
        int i = 0;
        int j = 0;
        string newid;
        @foreach (var item in this.Model)
        {
            i = i + 1;
            if (i == 4) { i = 1;j = j + 1; }
            newid =(i + j * 3).ToString();
            if (i == 1)
            {
                <div id="con1" class=@newid>
                    <a href="/Home/Tic/@item.Id">
                        <div class="holder smooth">
                            <div id="a"><img src="/images/@item.Image" width="60%" height="250" /></div>
                            <div id="b" style="color:#ffffff">@item.Name</div>
                            <div id="c" style="color:#ffffff">@Localizer["Дата"]: @item.Date</div>
                            <div id="d" style="color:#ffffff">@Localizer["Город"]: @item.Venue.City.Name</div>
                            <div id="e" style="color:#ffffff">@Localizer["Место"]: @item.Venue.Name</div>
                            <div class="go-left"> @Localizer["Описание"]: @item.Description </div>
                        </div>
                    </a>
                    </div>
            }
            if (i == 2)
            {
                <div id="con2" class=@newid>
                    <a href="/Home/Tic/@item.Id">
                        <div class="holder smooth">
                            <div id="a"><img src="/images/@item.Image" width="60%" height="250" /></div>
                            <div id="b" style="color:#ffffff">@item.Name</div>
                            <div id="c" style="color:#ffffff">@Localizer["Дата"]: @item.Date</div>
                            <div id="d" style="color:#ffffff">@Localizer["Город"]: @item.Venue.City.Name</div>
                            <div id="e" style="color:#ffffff">@Localizer["Место"]: @item.Venue.Name</div>
                            <div class="go-left"> @Localizer["Описание"]:  @item.Description </div>
                        </div>
                    </a>
                    </div>
            }
            if (i == 3)
            {
                <div id="con3" class=@newid>
                    <a href="/Home/Tic/@item.Id">
                        <div class="holder smooth">
                            <div id="a"><img src="/images/@item.Image" width="60%" height="250" /></div>
                            <div id="b" style="color:#ffffff">@item.Name</div>
                            <div id="c" style="color:#ffffff">@Localizer["Дата"]: @item.Date</div>
                            <div id="d" style="color:#ffffff">@Localizer["Город"]: @item.Venue.City.Name</div>
                            <div id="e" style="color:#ffffff">@Localizer["Место"]: @item.Venue.Name</div>
                            <div class="go-left"> @Localizer["Описание"]: @item.Description </div>
                        </div>
                    </a>
                    </div>
            }
        }
    }

     <ul id="pagination-flickr">
         @for (i = 1; i <= ((ViewBag.len + 8) / 9); i++)
         {
             int z = i - 1;
            <li class="go" id=@z data-action="one"><a>@i</a></li>
         }
     </ul>
     <div style="margin-top:40px"></div>
</section>
    <footer>
        <li> @Localizer["footer"]</li>
    </footer>

