﻿@model IEnumerable<BelTicket.Models.Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
        <section id="content">
            <p id="cn"><button class="new" onclick="change()">@Localizer["Ожидаютпотверждения"]</button><button class="new" onclick="change2()">@Localizer["Купленные"]</button></p>
            <div id="zac">
                @{
                    bool y = false;
                }
                @foreach (var item in this.Model)
                {

                    @if (item.Status == "В ожидании")
                    {
                        y = true;
                        <div id="ticket">
                            <div><img src="/images/@item.Ticket.Events.Image" width="330" height="250" /></div>
                            <div id="ticket1">@item.Ticket.Events.Name</div>
                            <div id="ticket2">@Localizer["Продавец"]: @item.Ticket.Seller.FirstName @item.Ticket.Seller.LastName</div>
                            <div id="ticket4">@Localizer["Цена"]: @item.Ticket.Price</div>
                            <div id="ticket5">@Localizer["Дата"]: @item.Ticket.Events.Date</div>
                            <div id="ticket7">@Localizer["Адрес"]: г.@item.Ticket.Events.Venue.City.Name , @item.Ticket.Events.Venue.Address (@item.Ticket.Events.Venue.Name)</div>
                            <div id="ticket8">@Localizer["Описание"]: @item.Ticket.Events.Description</div>
                        </div>
                        }
                        }
                        @if (y == false)
                {
                            <div class="info"> @Localizer["нетбилетовнаожидании"]</div>
                }
                        </div>
                        <div id="zac2">
                            @{
                                bool y2 = false;
                            }
                            @foreach (var item in this.Model)
                {

                                @if (item.Status == "куплен")
                    {
                        y2 = true;
                                    <div id="ticket">
                                        <div><img src="/images/@item.Ticket.Events.Image" width="330" height="250" /></div>
                                        <div id="ticket1">@item.Ticket.Events.Name</div>
                                        <div id="ticket2">@Localizer["Продавец"]: @item.Ticket.Seller.FirstName @item.Ticket.Seller.LastName</div>
                                        <div id="ticket4">@Localizer["Цена"]: @item.Ticket.Price</div>
                                        <div id="ticket5">@Localizer["Дата"]: @item.Ticket.Events.Date</div>
                                        <div id="ticket7">@Localizer["Адрес"]: г.@item.Ticket.Events.Venue.City.Name , @item.Ticket.Events.Venue.Address (@item.Ticket.Events.Venue.Name)</div>
                                        <div id="ticket8">@Localizer["Описание"]: @item.Ticket.Events.Description</div>
                                    </div>
                    }
                }
                            @if (y2 == false)
                {
                                <div class="info"> @Localizer["неткупленныхбилетов"]</div>
                }
                        </div>
</section>


<script type="text/javascript">
        function change() {
            var obj = document.getElementById('zac');
            if (obj.style.display != "block") {
                obj.style.display = "block";
            }
            obj = document.getElementById('zac2');
            obj.style.display = "none";
        }
        function change2() {
            var obj = document.getElementById('zac2');
            if (obj.style.display != "block") {
                obj.style.display = "block";
            }
            obj = document.getElementById('zac');
            obj.style.display = "none";
        }
</script>