﻿@model IEnumerable<BelTicket.Models.Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
  <script>
      function Ac(a) {
          return a;
      }
</script>
<section id="content">
            <p id="cn"><button class="new"  onclick="change()">@Localizer["Выставленные"]</button><button class="new" onclick="change2()">@Localizer["Ожидаютпотверждения"]</button><button class="new" onclick="change3()">@Localizer["Проданные"]</button></p>
            <div id="zac">
                @{
                    bool y = false;
                }
               @foreach (var item in ViewBag.UsT)
               {
                   y = true;
                <div id="ticket">
                    <div><img src="/images/@item.Events.Image" width="330" height="250" /></div>
                    <div id="ticket1">@item.Events.Name</div>
                    <div id="ticket2">@Localizer["Продавец"]: @item.Seller.FirstName @item.Seller.LastName</div>
                    <div id="ticket4">@Localizer["Цена"]: @item.Price</div>
                    <div id="ticket5">@Localizer["Дата"]: @item.Events.Date</div>
                    <div id="ticket7">@Localizer["Адрес"]: г.@item.Events.Venue.City.Name , @item.Events.Venue.Address (@item.Events.Venue.Name)</div>
                    <div id="ticket8">@Localizer["Описание"]: @item.Events.Description</div>
                    <button id="line2" style="right:10px;margin-top:30px;width:110px;height:25px" onclick="location.href='/Home/MyTicketsDel?id='+ Ac(@item.Id) +'';">@Localizer["Удалить"]<i class="fa fa-check"></i></button>
                </div>
               }
                @if (y == false)
                {
                    <div class="info"> @Localizer["Нетбилетов"]</div>
                }
                </div>
            <div id="zac2">
                @{
                    bool y2 = false;
                }
                <div style="margin-top:0%;margin-left:0.5%;width:11.8%;height:261px;background-image: url(/images/7-fon.png); position: absolute;color:#ffffff" >  <textarea id="text23" value="" style="margin-top:15%;margin-left:7%;width:80%;height:200px; position: absolute;" ></textarea>@Localizer["Сообщение"]</div>
                @foreach (var item in this.Model)
                {
                        @if (item.Status == "В ожидании")
                        {
                            y2 = true;
                        <div id="ticket">
                            <div><img src="/images/@item.Ticket.Events.Image" width="330" height="250" /></div>
                            <div id="ticket1">@item.Ticket.Events.Name</div>
                            <div id="ticket2">@Localizer["Продавец"]: @item.Ticket.Seller.FirstName @item.Ticket.Seller.LastName</div>
                            <div id="ticket4">@Localizer["Цена"]: @item.Ticket.Price</div>
                            <div id="ticket5">@Localizer["Дата"]: @item.Ticket.Events.Date</div>
                            <div id="ticket7">@Localizer["Адрес"]: г.@item.Ticket.Events.Venue.City.Name , @item.Ticket.Events.Venue.Address (@item.Ticket.Events.Venue.Name)</div>
                            <div id="ticket8" style="width:53%">@Localizer["Описание"]: @item.Ticket.Events.Description</div>  
                            <div id="ticket10" style="right:10px">@Localizer["Покупатель"]: @item.Buyer</div>  
                           <button  id="line2" style="right:10px;margin-top:30px;width:110px;height:25px" onclick="location.href='/Home/MyTicketsAccept?id='+ Ac(@item.Id) +'&message='+ document.getElementById('text23').value +'';">@Localizer["Принять"]<i class="fa fa-check"></i></button>
                           <button id="line2" style="right:10px;margin-top:60px;width:110px;height:25px" onclick="location.href='/Home/MyTicketsNoAccept?id='+ Ac(@item.Id) +'&message='+ document.getElementById('text23').value +'';">@Localizer["Отклонить"]<i class="fa fa-close"></i></button>                       
                        </div>                       
                        }
                }
              
                @if (y2 == false)
                {
                    <div class="info"> @Localizer["Нетбилетов"]</div>
                }
            </div>
            <div id="zac3">
                @{
                    bool y3 = false;
                }
                @foreach (var item in this.Model)
                {
                        @if (item.Status == "куплен")
                        {
                            y3 = true;
                            <div id="ticket">
                                <div><img src="/images/@item.Ticket.Events.Image" width="330" height="250" /></div>
                                <div id="ticket1">@item.Ticket.Events.Name</div>
                                <div id="ticket2">@Localizer["Продавец"]: @item.Ticket.Seller.FirstName @item.Ticket.Seller.LastName</div>
                                <div id="ticket4">@Localizer["Цена"]: @item.Ticket.Price</div>
                                <div id="ticket5">@Localizer["Дата"]: @item.Ticket.Events.Date</div>
                                <div id="ticket7">@Localizer["Адрес"]: г.@item.Ticket.Events.Venue.City.Name , @item.Ticket.Events.Venue.Address (@item.Ticket.Events.Venue.Name)</div>
                                <div id="ticket8">@Localizer["Описание"]: @item.Ticket.Events.Description</div>
                                <div id="ticket10" style="right:10px">@Localizer["Покупатель"]: @item.Buyer</div>  
                            </div>
                        }
                }
                @if (y3 == false)
                {
                    <div class="info">@Localizer["Нетбилетов"]</div>
                }
            </div>
        </section>








<script type="text/javascript">
     function change() {
         var obj = document.getElementById('zac');
         if (obj.style.display != "block") {
             obj.style.display = "block";
         }
         obj = document.getElementById('zac2');
         obj.style.display = "none";
         obj = document.getElementById('zac3');
         obj.style.display = "none";
     }
     function change2() {
         var obj = document.getElementById('zac2');
         if (obj.style.display != "block") {
             obj.style.display = "block";
         }
         obj = document.getElementById('zac');
         obj.style.display = "none";
         obj = document.getElementById('zac3');
         obj.style.display = "none";
     }
     function change3() {
         var obj = document.getElementById('zac3');
         if (obj.style.display != "block") {
             obj.style.display = "block";
         }
         obj = document.getElementById('zac');
         obj.style.display = "none";
         obj = document.getElementById('zac2');
         obj.style.display = "none";
     }
</script>