﻿@model BelTicket.Models.Register.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
        <section id="content"> 
            @if (!User.Identity.IsAuthenticated)
            {
            <div id="reg2" style="color:#ffffff">
     <form class="contact_form" method="post" asp-controller="Home" asp-action="Reg" asp-route-returnUrl="@Model.ReturnUrl">
         @if (ViewBag.Miss > 0)
          {
             <div id="reg3" style="color:red">@Localizer["НеверныеДанные"]</div>
         }
    <div asp-validation-summary="ModelOnly"></div>
         <ul>
             <li>
                 <label>@Localizer["Логин"]:</label><br />
                 <input asp-for="Username" />
                 <span asp-validation-for="Username"></span>
             </li>
             <li>
                 <label>@Localizer["Пароль"]:</label><br />
                 <input asp-for="Password" />
                 <span asp-validation-for="Password"></span>
             </li>
             <li>
                 <button class="submit">@Localizer["Вход"]</button>
             </li>
        </ul>

</form> 
    </div>
             }
</section>