﻿@model BelTicket.Models.Register.RegViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section id="content">
    @if (!User.Identity.IsAuthenticated)
            {
        <div id="reg2" style="color:#ffffff">
            @if (ViewBag.MissReg != "true")
            {
                <form class="contact_form" method="post" asp-controller="Home" asp-action="Reg2" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" style="color:#ffffff"></div>
                    @if (ViewBag.MissLog == "true")
                    {
                        <div style="color:#ffffff">@Localizer["ЭтотЛогинЗанят"]</div>
                    }
                    @if (ViewBag.MissVoid == "true")
                    {
                        <div style="color:#ffffff">@Localizer["ЗаполнитеПустыеПоля"]</div>
                    }
                    @if (ViewBag.MissPhone == "true")
                    {
                        <div style="color:#ffffff">@Localizer["ДлиннаНомера7Символов"]</div>
                    }
                    @if (ViewBag.MissPhoneInt == "true")
                    {
                        <div style="color:#ffffff">@Localizer["Цифры"]</div>
                    }
                    
                    <ul>
                        <li>
                            <label style="color:#ffffff">@Localizer["Логин"]:</label><br />
                            <input asp-for="Username" />
                            <span asp-validation-for="Username"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">@Localizer["Пароль"]:</label><br />
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">@Localizer["Имя"]:</label><br />
                            <input asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">@Localizer["Фамилия"]:</label><br />
                            <input asp-for="LastName" />
                            <span asp-validation-for="LastName"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">@Localizer["Адрес"]:</label><br />
                            <input asp-for="Address" />
                            <span asp-validation-for="Address"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">@Localizer["Телефон"]:</label><br />
                            <input asp-for="Phone" />
                            <span asp-validation-for="Phone"></span>
                        </li>
                        <li>
                            <label style="color:#ffffff">
                                @Localizer["Язык"]:<select name="Localization">
                                    <option>en</option>
                                    <option>ru</option>
                                    <option>be</option>
                                </select>
                            </label><br />
                        </li>
                        <li>
                            <button class="submit">@Localizer["Регистрация"]</button>
                        </li>
                    </ul>

                </form>
            }
            else
            {
                <div style="color:#ffffff">@Localizer["Успех"]</div>
                <a href="/Home/Reg"><button class="submit2">@Localizer["Вход"]</button></a>
            }
        </div>
    }
       
</section>
