﻿@model BelTicket.Models.Register.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section id="content">
    <div id="mid">
        <form method="post" asp-action="RoleSettings" asp-controller="Home">
            @if (ViewBag.MissTipe == "1")
            {
                <div> @Localizer["Пусто"]</div>
            }
            @if (ViewBag.MissTipe == "2")
            {
                <div> @Localizer["Нету"]</div>
            }
            @if (ViewBag.MissTipe == "3")
            {
                <div> @Localizer["Сам"]</div>
            }
            <div>
                <div>
                    <div> @Localizer["Логин"]:</div>
                    <input asp-for="UserName" />
                </div>
                <div>
                    <button class="submit2">@Localizer["НайтиПользователя"]</button>
                </div>
            </div>
        </form>
        @if (ViewBag.Table == "true")
        {
    <div>@Localizer["Результат"]:</div>
    <table class="simple-little-table" cellspacing='0'>
        <tr>
            <th>@Localizer["Имя"]</th>
            <th>@Localizer["Фамилия"]</th>
            <th>@Localizer["Статус"]</th>
        </tr><!-- Table Header -->

        <tr>
            <td>@ViewBag.User.FirstName</td>
            <td>@ViewBag.User.LastName</td>
            <td>@ViewBag.UserRole</td>
        </tr>  
    </table>
    <a href="/Home/RoleSettingsChange?name=@ViewBag.User.UserName"><button class="submit2" >@Localizer["Изменить"]</button> </a>
        }
</div>
</section>


