﻿@model BelTicket.Models.Register.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section id="content">
        <div id="Us">
            <div id="LUs">

                <form method="post" asp-action="Settings" asp-controller="Home">
                    @if (ViewBag.missTipe == "1")
                    {
                        <div id="info"> @Localizer["ЗаполнитеПустыеПоля"]</div>
                    }
                    @if (ViewBag.missTipe == "2")
                    {
                        <div>@Localizer["ДлиннаНомера7Символов"]</div>
                        <div>@Localizer["Цифры"]</div>
                    }
                    <div>
                        <div>
                            <div id="info"> @Localizer["Адрес"]:</div>
                            <input asp-for="Address" value="@Model.Address"/>
                        </div>      
                        <div>
                            <div id="info"> @Localizer["Телефон"]:</div>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
                        </div> 
                        <div>
                            <div id="info"> @Localizer["Язык"]:</div>
                            <select name="Localization">
                                <option>en</option>
                                <option>ru</option>
                                <option>be</option>
                            </select><br />
                        </div> 
                        <div>
                            <button class="submit2">@Localizer["Сохранить"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
