﻿@model IEnumerable<BelTicket.Models.User>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
        <section id="content">
@foreach (var item in this.Model)
{
        <div id="Us">
            <div id="LUs">
                <div id="info"> @Localizer["Имя"]: @item.FirstName @item.LastName</div>
                <div id="info"> @Localizer["Статус"]: User</div>
                <div id="info"> @Localizer["Адресс"]: @item.Address</div>
                <div id="info"> @Localizer["Номертелефона"]: @item.PhoneNumber</div>
                <div id="info"> @Localizer["Язык"]: @item.Localization</div>
            </div>
            <div id="ballMenuContainer">
                <div id="menuBall1" class="menuBall">
                    <a href="/Home/Settings" class="ball blueball">
                        <div class="menuText">
                            @Localizer["Настройки"]
                        </div>
                    </a>
                </div>
                <div id="menuBall4" class="menuBall">
                    <a href="/Home/NewTicket" class="ball yellowball">
                        <div class="menuText">
                            @Localizer["Выставить"]
                        </div>
                    </a>
                </div>
            </div>
        </div>
}
            <div style="margin-top:200px; position:absolute; margin-left:25%">@Localizer["Новости"]:</div>
            <div class="prokrutka4">
                @foreach (var item in ViewBag.Chat)
                {
                    <div>@Localizer["От"] @item.Out @Localizer["Время"] @item.Time<br>@item.Message</div>
                }
            </div>
            <div class="share share_type_facebook">
                <span class="share__count" style="margin-top:130px;margin-left:25%">1.3K лайков на аве!<br>Добавь и свой!</span>
                <a class="share__btn" href="https://vk.com/id170091546" style="margin-top:139px">VK avtora</a>
            </div>
</section>
