﻿@model IEnumerable<BelTicket.Models.Ticket>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
        <section id="content">
            @foreach (var item in this.Model)
            {
            <div id="ticket">
                        <div><img src="/images/@item.Events.Image" width="330" height="250" /></div>
                        <div id="ticket1">@item.Events.Name</div>
                        <div id="ticket2">@Localizer["Продавец"]: @item.Seller.FirstName @item.Seller.LastName</div>
                        <div id="ticket4">@Localizer["Цена"]: @item.Price</div>
                        <div id="ticket5">@Localizer["Дата"]: @item.Events.Date</div>
                        <div id="ticket7">@Localizer["Адрес"]: г.@item.Events.Venue.City.Name , @item.Events.Venue.Address (@item.Events.Venue.Name)</div>
                        <div id="ticket8">@Localizer["Описание"]: @item.Events.Description</div>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Identity.Name != item.Seller.UserName)
                    {
                    <div id="ticket9"> <a href="/Home/Bay?idTicket=@item.Id"><button class="submit2">@Localizer["Заказать"]</button></a></div>
                    }
                    else
                    {
                        <div id="ticket9"><button class="submit2" style="background:#ff0000">@Localizer["Ваш"]</button></div>
                    }
                }
                        </div>
                    }
            @if (Model.Count() == 0)
            {
                <div class="info"> @Localizer["Пусто"]</div>
            }
</section>
            <footer>
                <li> @Localizer["footer"]</li>
            </footer>