﻿* {
    margin: 0px 0 0 0px;
    padding: 0;
}

body {
    background-image: url(/images/5-fon.png);
    font-family: 'Arial';
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('success.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('validation.png');
} 

#page {
    width: 0 auto;
}

header {
    height: 75px;
    background-image: url(/images/7-fon.png);
}

    header .logo {
        float: left;
        width: 936px;
        height: 82px;
    }

        header .logo img {
            margin: 23px 0px 15px 0px;
        }

    header .diviz {
        float: right;
        margin-top: 30px;
        font-size: 30px;
        font-family: 'Tahoma';
        color: #BA55D3;
        text-shadow: 1px 1px 2px #333;
        background: #4698BF;
        background: -webkit-gradient(linear, left top, left bottom, from(#DEE136), to(#4698BF));
        background: -moz-linear-gradient(top, #55ACD4, #4698BF);
        background: -o-linear-gradient(top, #55ACD4 0%, #4698BF 100%);
        border: 2px solid #46768B;
        border-radius: 4px;
        padding: 5px 11px;
        font-size: 1em;
        width: 175px;
        margin-bottom: 1px;
    }

nav {  
    clear: both;
    height: 60px;
    border-radius: 8px 8px 0px 0px;
}

    nav ul {
        position: relative;
        list-style: none;
    }

        nav ul li {
            float: left;
            margin: 17px 20px;
            font-size: 20px;
            font-family: 'Georgia';
            font-style: italic;
        }

            nav ul li a {
                color: #f7f6c5;
                text-decoration: none;
            }

                nav ul li a:hover {
                    text-decoration: underline;
                }
#reg {
    position:absolute;
   right:0%;
}
#reg22 {
    position: absolute;
    right: 9%;
}

.header_img {
    height: 435px;
    background-color: #759fff;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 15px;
}

#content {
    clear: both;
    position: relative;
    margin-top: 40px;
}

    #content h1 {
        font-size: 28px;
        font-family: 'Georgia';
        font-style: italic;
        font-weight: normal;
        margin-bottom: 20px;
    }

    #content img.float-right {
        float: right;
        margin: 20px 20px 40px 40px;
    }

    #content p {
        margin-bottom: 10px;
    }

footer {
    clear: both;
    border-top: 4px #000 solid;
    margin-top: 30px;
    padding: 15px 0px;
    font-size: 12px;
}

    footer a {
        color: #000;
        text-decoration: underline;
    }

        footer a:hover {
            text-decoration: none;
        }
#str {
    position: relative;
    margin-top: -15px;
    width: 0 auto;
    height: 30px;
}
#strIN {
    background-image: url(/images/logo.png);
    background-size: contain;
    width: 280px;
    height: 100%;
    position: absolute;
    top: 14px;
}
#string {
    margin-top: -15px;
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

#con1 {
    margin-top: 15px;
    margin-left: 0.5%;
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    background-color: #ffffff;
    padding: 10px;
    width: 32%;
    height: 250px;
    background-image: url(/images/7-fon.png);
}
#con2 {
    margin-top: -252px;
    margin-left: 33.5%;
    margin-bottom: 0px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    padding: 10px;
    width: 32%;
    height: 250px;
    background-image: url(/images/7-fon.png);
}
#con3 {
    margin-top: -252px;
    margin-left: 66.5%;
    margin-bottom: 0px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    padding: 10px;
    width: 32%;
    height: 250px;
    background-image: url(/images/7-fon.png);
}
#b {
    position: absolute;
    margin-top: -252px;
    right: 6%;
}
#c {
    position: absolute;
    margin-top: -195px;
    right: 6%;
}
#d {
    position: absolute;
    margin-top: -169px;
    right: 6%;
}
#e {
    position: absolute;
    margin-top: -141px;
    right: 6%;
}
#ticket {
    margin-top: 20px;
    margin-left: 13%;
    width: 74%;
    height: 250px;
    background-image: url(/images/7-fon.png);
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

#ticket1 {
    text-decoration: underline;
    position: absolute;
    margin-top: -252px;
    margin-left: 350px;
}
#ticket2 {
    text-decoration: underline;
    font-size: 9pt;
    position: absolute;
    margin-top: -220px;
    right: 5px;
}
#ticket4 {
    text-decoration: underline;
    position: absolute;
    margin-top: -252px;
    right: 5px;
}
#ticket5 {
    text-decoration: underline;
    position: absolute;
    margin-top: -220px;
    margin-left: 350px;
}
#ticket7 {
    text-decoration: underline;
    position: absolute;
    margin-top: -190px;
    margin-left: 350px;
}
#ticket8 {
    position: absolute;
    margin-top: -150px;
    margin-left: 350px;
    font-size: 11pt;
}
#ticket9 {
    text-decoration: underline;
    position: absolute;
    margin-top: -205px;
    right: 0;
}
#ticket10 {
    position: absolute;
    margin-top: -195px;
    margin-left: 350px;
    font-size: 11pt;
}
#reg2 {
    background-image: url(/images/7-fon.png);
    margin-left: 37%;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    width: 422px;
}
#upin {
    position: absolute;
    margin-left: 20%;
    top: 0;
}
#ton {
    position: absolute;
    margin-left: 25%;
    top: 0;
}
#reg3 {
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    width: 172px;
}
#Us {
    position: relative;
}
#LUs {
    position:absolute;
    text-decoration: underline;
    background-image: url(/images/7-fon.png);
    margin-left: 25%;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    width: 15%;
    font-size: 11pt;
    color: #ffffff;
}
#RUs {
    position: absolute;
    text-decoration: underline;
    margin-left: 40%;
}
#info {
    margin-top: 4px;
}

#zac {

}
#zac2 {
    display: none;
}
#zac3 {
    display: none;
}
button.new {
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    background: -moz-linear-gradient(#380404, #90dc22, #fe0606);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#dd0505), color-stop(0.5, #3c0303));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 4px 8px;
    color: #333;
    height: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #666;
    color: #ffffff;
}
#cn {
    margin-left: 13%;
}
.contact_form label {
   width:150px;
   margin-top: 3px;
   display:inline-block;
   float:left;
   padding:3px;
  
}

.contact_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
   
}

.contact_form textarea {
    padding: 8px;
    width: 350px;
}

.contact_form button {
    margin-left: 10px;
    width: 130px;
    height: 40px;
}
*:focus {
    outline: none;
}
.contact_form ul {
    width:400px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:10px;
   
}

 .contact_form li {
    padding:12px;
    border-bottom:1px solid #000;
    position:relative;
    
}
.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

    .contact_form input:focus, .contact_form textarea:focus {
        background: #fff;
        border: 1px solid #555;
        box-shadow: 0 0 3px #aaa;
    }
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

    button.submit:hover {
        opacity: .85;
        cursor: pointer;
    }

    button.submit:active {
        border: 1px solid #20911e;
        box-shadow: 0 0 10px 5px #356b0b inset;
        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    }
button.submit2 {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

    button.submit2:hover {
        opacity: .85;
        cursor: pointer;
    }

    button.submit2:active {
        border: 1px solid #20911e;
        box-shadow: 0 0 10px 5px #356b0b inset;
        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    }
.contact_form input:focus, .contact_form textarea:focus { /* add this to the already existing style */
    padding-right: 150px;
}
.contact_form input, .contact_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
input:required, textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
#mid {
    margin-top: 15px;
    margin-left: 40%;
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    background-color: #ffffff;
    padding: 10px;
    width: 315px;
    height: 265px;
}
#mid2 {
    margin-top: 15px;
    margin-left: 35%;
    position: relative;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    background-color: #ffffff;
    padding: 10px;
    width: 500px;
    height: 280px;
}
:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
/*End NULL*/

.simple-little-table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

    .simple-little-table th {
        font-weight: bold;
        padding: 21px 25px 22px 25px;
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #e0e0e0;
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
        background: -moz-linear-gradient(top, #ededed, #ebebeb);
    }

        .simple-little-table th:first-child {
            text-align: left;
            padding-left: 20px;
        }

    .simple-little-table tr:first-child th:first-child {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .simple-little-table tr:first-child th:last-child {
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .simple-little-table tr {
        text-align: center;
        padding-left: 20px;
    }

        .simple-little-table tr td:first-child {
            text-align: left;
            padding-left: 20px;
            border-left: 0;
        }

        .simple-little-table tr td {
            padding: 18px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
        }

        .simple-little-table tr:nth-child(even) td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
        }

        .simple-little-table tr:last-child td {
            border-bottom: 0;
        }

            .simple-little-table tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            .simple-little-table tr:last-child td:last-child {
                -moz-border-radius-bottomright: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

        .simple-little-table tr:hover td {
            background: #f2f2f2;
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
        }

    .simple-little-table a:link {
        color: #666;
        font-weight: bold;
        text-decoration: none;
    }

    .simple-little-table a:visited {
        color: #999999;
        font-weight: bold;
        text-decoration: none;
    }

    .simple-little-table a:active,
    .simple-little-table a:hover {
        color: #bd5a35;
        text-decoration: underline;
    }




h1 {
    font-size: 2.5em;
    font-family: Georgia;
    letter-spacing: 0.1em;
    color: rgb(142,11,0);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
    h1 span {
        display: block;
        margin-top: 0.5em;
        font-family: Verdana;
        font-size: 0.6em;
        font-weight: normal;
        letter-spacing: 0em;
        text-shadow: none;
    }
.meta {
    font-family: Georgia;
    color: rgba(69,54,37,0.6);
    font-size: 0.85em;
    font-style: italic;
    letter-spacing: 0.25em;
    border-bottom: 1px solid rgba(69,54,37,0.2);
    padding-bottom: 0.5em;
}
    .meta span {
        text-transform: capitalize;
        font-style: normal;
        color: rgba(69,54,37,0.8);
    }
.body p {
    font-family: Verdana;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
    line-height: 1.5em;
    color: rgb(69,54,37);
}
    .body p:first-child {
        font-size: 1.25em;
        font-family: Georgia;
        font-style: italic;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        letter-spacing: 0.1em;
    }

        .body p:first-child:first-line {
            font-weight: bold;
        }
date {
    font-family: Georgia;
    color: rgba(69,54,37,0.6);
    font-size: 0.75em;
    font-style: italic;
    letter-spacing: 0.25em;
    border-top: 1px solid rgba(69,54,37,0.2);
    display: block;
    padding-top: 0.5em;
    margin-top: 2em;
}
#mid3 {
    height: 170px;
    width: 110px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    margin-top: -0px;
    margin-left: 660px;
    position: relative;
    background-image: url(/images/7-fon.png);
}
.mid3 {
    height: 286px;
    width: 440px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    margin-top: 70px;
    margin-left: 150px;
    position: relative;
    background-image: url(/images/7-fon.png);
}
.mid4 {
    height: 436px;
    width: 440px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    margin-top: 35px;
    margin-left: 150px;
    position: relative;
    background-image: url(/images/7-fon.png);
}
.mid5 {
    height: 770px;
    width: 1110px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    margin-top: -758px;
    margin-left: 660px;
    position: relative;
    background-image: url(/images/7-fon.png);
}
.mid6 {
    height: 436px;
    width: 520px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    margin-top: 85px;
    margin-left: 13%;
    position: relative;
    background-image: url(/images/7-fon.png);
}

.prokrutka {
    width: 150px;
    height: 265px;
    border: 1px solid #000;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 0%;
    padding: 10px;
}
    .prokrutka div {
        margin-top: 7px;
        background: #d1d1d1;
        border: 3px solid #000;
    }
.prokrutka2 {
    width: 200px;
    height: 415px;
    border: 1px solid #000;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 0%;
    padding: 10px;
}

    .prokrutka2 div {
        margin-top: 7px;
        background: #d1d1d1;
        border: 3px solid #000;
    }
.prokrutka3 {
    width: 300px;
    height: 748px;
    border: 1px solid #000;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 0%;
    padding: 10px;
}

    .prokrutka3 div {
        margin-top: 7px;
        background: #d1d1d1;
        border: 3px solid #000;
    }

.prokrutka4 {
    width: 475px;
    box-shadow: 0 0 18px rgba(0,0,0,0.9);
    background-image: url(/images/7-fon.png);
    height: 390px;
    border: 1px solid #000;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 25%;
    margin-top: 220px;
    padding: 10px;
    position: absolute;
}

    .prokrutka4 div {
        margin-top: 7px;
        background: #d1d1d1;
        border: 3px solid #000;
    }


#con {
    background: #ff9600;
    outline: none;
    width: 100%;
}
    #con:hover {
        background: rgb(232,95,76);
    }
    #con:active {
        background: rgb(152,15,0);
    }
#con33 {
    background: #ff9600;
    outline: none;
    width: 220px;
    height: 50px;
}

    #con33:hover {
        background: rgb(232,95,76);
    }

    #con33:active {
        background: rgb(152,15,0);
    }
#text {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text2 {
    position: absolute;
    top: 34%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text3 {
    position: absolute;
    top: 47%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text4 {
    position: absolute;
    top: 2%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text5 {
    position: absolute;
    top: 10%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text6 {
    position: absolute;
    top: 18%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text7 {
    position: absolute;
    top: 42%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}

#text8 {
    position: absolute;
    top: 50%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}

#text9 {
    position: absolute;
    top: 58%;
    margin-left: 70%;
    width: 103px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text14 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text15 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text16 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text17 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text18 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text19 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text20 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text21 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text22 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text23 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text25 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text26 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text27 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text30 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text31 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text32 {
    position: absolute;
    top: 2%;
    margin-left: 78%;
    width: 125px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}
#text44 {
    position: absolute;
    top: 19%;
    margin-left: 78%;
    width: 70px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 2px solid #ec891f;
    background: #F6F6f6;
    border-radius: 11px;
}

#line {
    position: absolute;
    top: 4.5%;
    margin-left: 44%;
    width: 190px;
    color: #ffffff;
}

#line2 {
    position: absolute;
    top: 34%;
    height: 10%;
    margin-left: 43%;
    width: 120px;
    background: #ff9600;
    outline: none;
}
    #line2:hover {
        background: #68b12f;
    }

    #line2:active {
        background: #68b12f;
    }
#line3 {
    position: absolute;
    top: 47%;
    height: 10%;
    margin-left: 43%;
    width: 120px;
    background: #ff9600;
    outline: none;
}

    #line3:hover {
        background: #68b12f;
    }

    #line3:active {
        background: #68b12f;
    }
#line0 {
    position: absolute;
    border: 1px solid rgba(0,0,0,0.9);
    top: 16%;
    margin-left: 171px;
    width: 267px;
}
#line00 {
    position: absolute;
    border: 1px solid rgba(0,0,0,0.9);
    top: 26%;
    margin-left: 221px;
    width: 217px;
}
#line000 {
    position: absolute;
    border: 1px solid rgba(0,0,0,0.9);
    top: 19%;
    margin-left: 221px;
    width: 188px;
}
#line4 {
    position: absolute;
    top: 60%;
    height: 10%;
    margin-left: 43%;
    width: 120px;
    background: #ff9600;
    outline: none;
}

    #line4:hover {
        background: #68b12f;
    }

    #line4:active {
        background: #68b12f;
    }
#line5 {
    position: absolute;
    top: 72%;
    margin-left: 70%;
    width: 100px;
}
#line6 {
    position: absolute;
    bottom: 0px;
    margin-left: 38%;
    width: 90px;
}
#line7 {
    position: absolute;
    top: 3%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}
#line8 {
    position: absolute;
    top: 11%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}
#line9 {
    position: absolute;
    top: 20%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}
#line10 {
    position: absolute;
    top: 44%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}

#line11 {
    position: absolute;
    top: 51%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}

#line12 {
    position: absolute;
    top: 59%;
    margin-left: 56%;
    width: 190px;
    color: #ffffff;
}
#line13 {
    position: absolute;
    top: 67%;
    height: 5%;
    margin-left: 55%;
    width: 180px;
    background: #ff9600;
    outline: none;
}

    #line13:hover {
        background: #68b12f;
    }

    #line13:active {
        background: #68b12f;
    }
#line14 {
    position: absolute;
    top: 74%;
    height: 5%;
    margin-left: 55%;
    width: 180px;
    background: #ff9600;
    outline: none;
}

    #line14:hover {
        background: #68b12f;
    }

    #line14:active {
        background: #68b12f;
    }
#line15 {
    position: absolute;
    top: 81%;
    height: 5%;
    margin-left: 55%;
    width: 180px;
    background: #ff9600;
    outline: none;
}

    #line15:hover {
        background: #68b12f;
    }

    #line15:active {
        background: #68b12f;
    }
#line16 {
    position: absolute;
    top: 84.5%;
    margin-left: 70%;
    width: 100px;
}
.clipped {
    padding: 10px 20px;
    font: bold 24px arial;
    text-align: center;
    color: #ffffff;
    text-shadow:0 0 5px #fff;
}
#line17 {
    position: absolute;
    top: 2%;
    margin-left: 30%;
    width: 190px;
    color: #ffffff;
}

#line18 {
    position: absolute;
    top: 6%;
    margin-left: 30%;
    width: 190px;
    color: #ffffff;
}

#line19 {
    position: absolute;
    top: 10.5%;
    margin-left: 30%;
    width: 190px;
    color: #ffffff;
}
#line20 {
    position: absolute;
    top: 15.5%;
    margin-left: 30%;
    width: 190px;
    color: #ffffff;
}
#line26 {
    position: absolute;
    top: 90%;
    margin-left: 88%;
    width: 100px;
}
#line44 {
    position: absolute;
    top: 19%;
    height: 10%;
    margin-left: 43%;
    width: 120px;
    background: #ff9600;
    outline: none;
}

    #line44:hover {
        background: #68b12f;
    }

    #line44:active {
        background: #68b12f;
    }
#line45 {
    position: absolute;
    top: 29%;
    height: 9%;
    margin-left: 56%;
    width: 170px;
    background: #ff9600;
    outline: none;
}

    #line45:hover {
        background: #68b12f;
    }

    #line45:active {
        background: #68b12f;
    }
#line46 {
    position: absolute;
    top: 62%;
    height: 3%;
    right: 1%;
    width: 150px;
    background: #ff9600;
    outline: none;
}

    #line46:hover {
        background: #68b12f;
    }

    #line46:active {
        background: #68b12f;
    }

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('success.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('validation.png');
}
@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 26px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 2px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

    .round:hover {
        width: 120%;
        height: 120%;
        left: -45%;
        top: -45%;
        font-size: 13px;
        padding-top: 38px;
        -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        z-index: 2;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

a.yellow {
    background-color: rgba(252,227,1,1);
    color: rgba(153,38,0,1);
    border-color: rgba(153,38,0,.2);
}

    a.yellow:hover {
        color: #68b12f;
    }

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 60% 40% 0 40%;
    color: rgba(0,0,0,0.9);
}

.round span:hover {
    opacity: .55;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.yellow span {
    background: rgba(161,145,0,.7);
}

#ballMenuContainer {
    position: absolute;
   margin-left:41%;
    margin-top:-30px;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1) rotate(0deg);
    }

    50% {
        -webkit-transform: scale(1.1) rotate(-5deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0deg);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1) rotate(0deg);
    }

    50% {
        -o-transform: scale(1.1) rotate(-5deg);
    }

    100% {
        -o-transform: scale(1) rotate(0deg);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1) rotate(0deg);
    }

    50% {
        -moz-transform: scale(1.1) rotate(-5deg);
    }

    100% {
        -moz-transform: scale(1) rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.1) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@-webkit-keyframes bump {
    0% {
        top: 0;
    }

    5% {
        top: 3px;
    }

    10% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@-o-keyframes bump {
    0% {
        top: 0;
    }

    5% {
        top: 3px;
    }

    10% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes bump {
    0% {
        top: 0;
    }

    5% {
        top: 3px;
    }

    10% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@keyframes bump {
    0% {
        top: 0;
    }

    5% {
        top: 3px;
    }

    10% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

.menuBall {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 5px;
    display: inline-block;
}

.ball {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed #fff;
    margin: 10px;
    text-decoration: none;
}

    .ball:hover {
        -webkit-animation: pulse 1s ease 0s infinite normal;
        -o-animation: pulse 1s ease 0s infinite normal;
        -moz-animation: pulse 1s ease 0s infinite normal;
        animation: pulse 1s ease 0s infinite normal;
    }

.redball {
    background-color: #d90e23;
    -moz-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d90e23, 2px 1px 6px 4px rgba(10,10,0,.5);
    background-image: url(/images/7-fon.png);
    background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-size: 10px 10px;
}

.blueball {
    -moz-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d6385b, 2px 1px 6px 4px rgba(10,10,0,.5);
    background-image: url(/images/7-fon.png);
    background-image: -moz-linear-gradient(35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86), -moz-linear-gradient(-35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86);
    background-size: 20px 20px;
    background-color: #d6385b;
}

.yellowball {
    background-color: #7968a8;
    -moz-box-shadow: 0 0 0 3px #7968a8, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #7968a8, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #7968a8, 2px 1px 6px 4px rgba(10,10,0,.5);
    background-image: url(/images/7-fon.png);
    background-image: -moz-linear-gradient(90deg, transparent 50%, rgba(99,138,190,1) 50%);
    background-size: 8px 8px;
}

.greenball {
    -moz-box-shadow: 0 0 0 3px #65b37a, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #65b37a, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #65b37a, 2px 1px 6px 4px rgba(10,10,0,.5);
    background: -webkit-radial-gradient(#e8b15e 4px, transparent 6px);
    background: -moz-radial-gradient(#e8b15e 4px, transparent 6px);
    background-size: 20px 20px;
    background-image: url(/images/7-fon.png);
    background-image: -moz-radial-gradient(#e8b15e 15%, transparent 16%), -moz-radial-gradient(#e8b15e 15%, transparent 16%);
    background-color: #65b37a;
    background-size: 30px 30px;
    background-position: 0 0, 20px 20px;
}

.menuText {
    font-family: 'IdolwildRegular', Verdana, Helvetica, Sans-Serif;
    font-size: larger;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 30%;
}

#menuBall1 {
    -webkit-animation: bump 6s linear 0s infinite normal;
}

#menuBall2 {
    -webkit-animation: bump 6s linear .5s infinite normal;
}

#menuBall3 {
    -webkit-animation: bump 6s linear 1s infinite normal;
}

#menuBall4 {
    -webkit-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall1 {
    -moz-animation: bump 6s linear 0s infinite normal;
}

#menuBall2 {
    -moz-animation: bump 6s linear .5s infinite normal;
}

#menuBall3 {
    -moz-animation: bump 6s linear 1s infinite normal;
}

#menuBall4 {
    -moz-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall1 {
    -o-animation: bump 6s linear 0s infinite normal;
}

#menuBall2 {
    -o-animation: bump 6s linear .5s infinite normal;
}

#menuBall3 {
    -o-animation: bump 6s linear 1s infinite normal;
}

#menuBall4 {
    -o-animation: bump 6s linear 1.5s infinite normal;
}

#menuBall1 {
    animation: bump 6s linear 0s infinite normal;
}

#menuBall2 {
    animation: bump 6s linear .5s infinite normal;
}

#menuBall3 {
    animation: bump 6s linear 1s infinite normal;
}

#menuBall4 {
    animation: bump 6s linear 1.5s infinite normal;
}


div#partyInfo {
    position: absolute;
    bottom: 30%;
    top: 30%;
    left: 20%;
    right: 20%;
    margin: 5px;
    padding: 8px;
    z-index: 2000;
    text-shadow: -1px -1px #65b37a;
    font-family: 'IdolwildRegular', Verdana, Helvetica, Sans-Serif;
    font-size: 2.5em;
    color: #FFFFFF;
    border-radius: 10px;
    border: 2px dashed #fff;
    background-color: #d90e23;
    -moz-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d90e23, 2px 1px 6px 4px rgba(10,10,0,.5);
}

#darkMe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 1000;
    -webkit-filter: blur(3px);
}

    #darkMe.hideMe, #partyInfo.hideMe {
        visibility: hidden;
    }

    #darkMe.showMe, #partyInfo.showMe {
        visibility: visible;
    }
.share__count {
    background-color: #fff;
    border: solid 1px #a5b1bd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #424a4d;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 4px 10px;
    position: relative;
    text-align: center;
}
    .share__count:before, .share__count:after {
        content: '';
        display: block;
        height: 0;
        top: 50%;
        position: absolute;
        right: -14px;
        width: 0;
        margin-top: -6px;
    }
    .share__count:before {
        border: solid 7px transparent;
        border-color: transparent transparent transparent #a5b1bd;
    }
    .share__count:after {
        border: solid 6px transparent;
        border-color: transparent transparent transparent #fff;
        right: -12px;
        margin-top: -5px;
    }
.share__btn {
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.share_type_facebook > .share__btn {
    background-color: #3B5999;
}


#pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

#pagination-flickr a {
    border: solid 1px #DDDDDD;
    margin-right: 2px;
}

#pagination-flickr .previous-off,
#pagination-flickr .next-off {
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 4px;
}

#pagination-flickr .next a,
#pagination-flickr .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
}

#pagination-flickr .active {
    color: #ff0084;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

#pagination-flickr a,
#pagination-flickr a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination-flickr a:hover {
    border: solid 1px #666666;
}




.smooth {
    opacity: 1;
}

    .smooth:hover {
        opacity: 0.6;
        box-shadow: 0px 0px 10px #333333;
    }

.go-left {
    opacity: 0;
    background-color: rgba(0,0,0,0.9);
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    right: 35%;
    top:65%;
    width: 60%;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s Ease;
}

.smooth:hover > .go-left {
    right: 0px;
    top: 0px;
    opacity: 1;
}