﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*Bel-Tiket*</title>
    <script language="javascript" type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/Style10.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.css" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"> </script>
    <script src="jquery.imageLens.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

</head>
<body>
    <div id="page">
        <header>
            <nav>
                <ul>
                    <li><a href="/Home/Index">@Localizer["Всесобытиястраны"]</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Home/MyOrder">@Localizer["Моизаказы"]</a></li>
                            <li><a href="/Home/MyTickets">@Localizer["Моибилеты"]</a></li>
                            @if (await AuthorizationService.AuthorizeAsync(User, "User"))
                            {
                                <li><a href="/Home/StatusUser">@Localizer["Мойпрофиль"]</a></li>
                            }
                            @if (await AuthorizationService.AuthorizeAsync(User, "Admin"))
                            {
                                <li><a href="/Home/StatusAdmin">@Localizer["Мойпрофиль"]</a></li>
                            }
                            <li id="reg"><a href="/Home/Out">@Localizer["Выход"]</a></li>
                    }
                    else
                    {
                         <li id="reg"><a href="/Home/Reg2">@Localizer["Регистрация"]</a>     <a href="/Home/Reg">@Localizer["Вход"]</a></li>
                    }
                </ul>
            </nav>
            <div id="str">
                <marquee id="string"> @Localizer["marquee"] </marquee>
                <div id="strIN">
                </div>
            </div>
        </header>
      
        @RenderBody()

    </div>
</body>
</html>
